*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #F28585;
    font-family: "Open Sans";
}

button{
    outline: none;
    cursor: pointer;
}

#addTodoListDiv{
    margin-left: 2em;
    margin-top: 4em;
}

#addTodoListDiv button{
    margin-left: 0.5em;
}

#root{
    margin: 1em;
    min-width: 1200px;
}

.comment{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5em;
    padding: 0.7em;
    font-size: 0.8em;
}

.black {
    background-color: #3B3D47;
    border: 1px solid #3B3D47;
    color: white;
}

.btn-save{
    background-color: #5aac44;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.7em;
    margin-top: 0.5em;
}

/* To Do Block */
.todoList{
    border-radius: 8px;
    min-height: 100px;
    background: #000;
    padding: 0.7em;
    margin: 1em 0 1em 1em;
    float: left;
}

.todoList h2{
    font-size: 1em;
    margin-bottom: 0.5em;
    color: #B6C2CF;
}

/* Card */
.card{
    border-radius: 4px;
    background: #3B3D47;
    margin: 0.5em 0 0 0;
    padding: 0.5em;
    font-size: 0.9em;
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: #B6C2CF;
}

.card button{
    visibility: hidden;
    height: max-content;
    background: none;
    border: none;
    padding: 0.3em;
}

.card:hover button{
    visibility: visible;
}

.card button:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    cursor: pointer;
}

/* Card Model */
.menuContainer{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: none;
}

.menu{
    top: 0;
    left: 0;
    background-color: #000;
    width: 500px;
    min-height: 300px;
    margin: auto;
    padding: 1em;
    border-radius: 4px;
    color: #B6C2CF;
    display: none;
}

.menuTitle{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.menuDescription{
    margin-bottom: 2em;
    line-height: 1.5em;
}

.menuDescription textarea{
    width: 90%;
    height: 5em;
    padding: 0.5em;
    font-size: 1.1em;
    background: #3B3D47;
    color: white;
    border: none;
}

/* Priority Section*/
.priority {
    margin-top: 14px;
}

.priority h2 {
    font-size: 18px
}

.priority select {
    height: 30px;
    width: 100px;
    margin-top: 12px;
    background: #3B3D47;
    color: white;
    border: none;
    border-radius: 4px;
}

select option {
    border-radius: 0px;
}

.save {
    float: right;
}